
                    /* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  font-family: arial, sans-serif;
  font-size: 16px;
  color: #181818;
}

                    /* Main Nav */
.main-nav {
  background-color: #fff;
  height: 60px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 1000;
  position: fixed;
  top: 0;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.main-nav ul li {
  line-height: 60px;
}

.main-nav ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
  padding: 0 20px;
  margin: 0 20px;
  text-transform: uppercase;
}

.main-nav ul li a:hover {
  opacity: 0.7;
}

.toggle-menu-button {
  height: 100%;
  width: 60px;
  background-color: #e06d02;
  background-image: url("../img/menu.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  cursor: pointer;
}

.toggle-menu-button:hover {
  opacity: 0.8;
}

                    /* Sidebar */
aside {
  background-color: #181818;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 60px;
  height: calc(100vh - 60px);
  padding: 0 5px;
}

.toggle-nav ul {
  list-style: none;
  overflow: hidden;
}

.toggle-nav ul li {
  line-height: 60px;
}

.toggle-nav ul li a, #toggle-nav-title {
  text-decoration: none;
  color: #fff;
  display: block;
  height: 100%;
  text-transform: uppercase;
  padding: 0 10px;
  white-space: nowrap;
  visibility: hidden;
}

.toggle-nav ul li a:hover {
  background-color: #222;
}
